body{
    display: flex;
    background-image: url("watch.webp");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    font-family: cursive;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.wrapper{
    color: beige;
    text-align: center;
    background-color: rgb(97, 248, 173);
    padding: 20px;
    border-radius: 50px;
    letter-spacing: 4px;
}
#seconds,#tens{
    font-size: 40px;
}
button{
    border-radius: 60%;
    background-color: rgb(201, 162, 238);
    color: black;
    border: groove 4px groove;
    text-decoration: none;
    cursor: pointer;
    font-size: 35px;
    padding: 18px;
    margin: 18px;
}
h1{
    text-shadow: 3px 4px 5px rgb(0, 0, 0);
    font-size: 48px;
}
button:hover{
    background-color: rgb(208, 240, 146);
    color: rgb(240, 96, 96);
}